.home-map {
	min-height: 500px;
	background-image: url('../img/stretch.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	padding-top: 50px;
	padding-bottom: 50px;
}

#map-container {
	height: 450px;
	opacity: 0.95;
}

nav.navbar {
	margin-bottom: 0px;
}

#mainContainer {
	padding-top: 20px;
}

.alert-flash {
	margin-top: 20px;
}

.edit-training-image-container {
	height: 200px;
	overflow: hidden;
	text-align: center;
}

.edit-training-image-container img {
	height: 100px;
	width: auto;
}