.home-map {
	min-height: 500px;
	background-image: url('../img/stretch.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.map-container {
	height: 450px;
	opacity: 0.95;
}

nav.navbar {
	margin-bottom: 0px;
	background-color: rgba(215, 40, 40, 0.9);
	border: none;
	border-radius: 0px;
}

nav.navbar .navbar-brand {
	color: #fff;
}

nav.navbar ul.nav li a {
	color: #fff;
}

nav.navbar ul.dropdown-menu li a {
	color: #000;
}

#mainContainer {
	padding-top: 20px;
}

.alert-flash {
	margin-top: 20px;
}

.edit-training-image-container {
	height: 200px;
	overflow: hidden;
	text-align: center;
}

.edit-training-image-container img {
	height: 100px;
	width: auto;
}

#loader {
	position: fixed;
	display: block;
	height: 100px;
	width: 100px;
	background-image: url('../img/loader.GIF');
	background-position: center center;
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	z-index: 9999;
	text-align: center;
	color: #fff;
}

#progress {
	color: #fff;
	text-align: center;
	padding: 5px;
}

#notifications {
	width: 300px;
}

.rate {
	cursor: pointer;
}

.rate.active, .rate:hover {
	color:  #fff;
	border: solid 2px #222;
}

/* footer */

#mainfooter {
	margin-top: 40px;
	height: 200px;
	background-color: rgba(215, 40, 40, 0.9);
	padding-top: 70px;
	padding-bottom: 10px;
	color: #fff;
	text-align: center;
}

#mainfooter a {
	color: #fff;
}

ul#footermenu {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

#footermenu li a {
	color: #fff;
}

/* panels */

.panel.panel-default {
	border-color: rgba(215, 40, 40, 0.9);
	border-radius: 2px;
}

.panel.panel-default .panel-heading {
	border-color: rgba(215, 40, 40, 0.5);
	background-color: rgba(215, 40, 40, 0.9);
	border-radius: 0px;
	color: #fff;
}

.btn {
	border-radius: 2px;
}

a {
	color:  rgba(215, 40, 40, 0.9);
}
